<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Constants" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <Constants>
    <add key="Herstellernr." value="DE-NW-3103601" />
    <add key="Länderkürzel" value="DE" />
  </Constants>
</configuration>